[submodule "amrex"]
	path = amrex
	url = https://github.com/AMReX-Codes/amrex

[submodule "openpmd"]
	path = openpmd
	url = https://github.com/openPMD/openPMD-api

[submodule "e3sm"]
	path = e3sm
	url = https://github.com/Parallel-NetCDF/E3SM-IO
[submodule "macsio"]
	path = macsio
	url = https://github.com/LLNL/MACSio
